.card-wrapp {
    margin-top: 72px;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--clr-main-100);
    padding: 40px;
    h3 {
      font-size: 30px;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 50px;
    }
    img {
      margin-top: 50px;
      height: 250px;
    }
    .primary-btn-white {
      padding: 15px 60px;
    }
    &.card-a {
      background: radial-gradient(ellipse at center, #2472ba 0%, #041760 100%);
    }
    &.card-b {
      background: radial-gradient(ellipse at center, #5c84ff 0%, #485eba 100%);
    }
    &.card-c {
      background: radial-gradient(ellipse at center, #2a558e 0%, #1c3571 100%);
    }
    &.card-d {
      background: radial-gradient(ellipse at center, #4846a5 0%, #24126a 100% );
    }
  }
}
